@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    font-family: "Oswald", sans-serif;
}

/* background section */
.background {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

/* container section */
.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container h1 {
    background: hsla(148, 100%, 47%, 1);

    background: linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ee6e", endColorstr="#0c75e6", GradientType=1);

    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

/* settings section */
.settings {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings i {
    font-size: 4rem;
    background: hsla(148, 100%, 47%, 1);

    background: linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ee6e", endColorstr="#0c75e6", GradientType=1);

    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.setting-content input{
    padding: 0.4rem 0.9rem;
    font-size: 1.4rem;
}

.setting-content{
    display: flex;
    gap: 1rem;
}

.setting-content button{
    padding: 0.4rem 0.9rem;
    font-size: 1.4rem;
    background: hsla(148, 100%, 47%, 1);

    background: linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ee6e", endColorstr="#0c75e6", GradientType=1);

    border: none;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.setting-content button:hover{
    opacity: 0.8;
}

.hide{
    display: none;
    
}

/* center section */
.time-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.time-container h2{
    font-size: 3.5rem;
    background: hsla(148, 100%, 47%, 1);

    background: linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ee6e", endColorstr="#0c75e6", GradientType=1);

    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    line-height: 6rem;
}

.time-container div{
    background: hsla(217, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );

    -webkit-background-clip: text;
    color: transparent;
    font-size: 4.5rem;
}

/* calender styling */
    input[type="date"]{
        background: hsla(148, 100%, 47%, 1);

        background: linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
    
        background: -moz-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
    
        background: -webkit-linear-gradient(90deg, hsla(148, 100%, 47%, 1) 0%, hsla(211, 90%, 47%, 1) 100%);
    
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#00ee6e", endColorstr="#0c75e6", GradientType=1);
        border: none;
        border-radius: 1rem;
        color: white;
        outline: none;
        font-weight: bold;
    }

    input:focus{
        outline: 2px solid rgb(0, 110, 255);
    }

/* media query */
@media (max-width:768px){
    .container h1{
        font-size: 3rem;
    }

    .time-container div{
        font-size: 3.5rem;
    }

    .time-container h2{
        font-size: 3rem;
    }

    .settings i{
        font-size: 3rem;
    }

    .setting-content input{
        padding: 0.2rem 0.7rem;
        font-size: 1.2rem;
    }

    .setting-content button{
        padding: 0.2rem 0.7rem;
        font-size: 1.2rem;
        
    }
}

@media (max-width:425px){
    .container h1{
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    .time-container div{
        font-size: 2.5rem;
    }

    .time-container h2{
        font-size: 2rem;
        line-height: 3rem;
    }

    .settings i{
        font-size: 2rem;
    }

    .setting-content input{
        padding: 0.1rem 0.6rem;
        font-size: 1rem;
    }

    .setting-content button{
        padding: 0.1rem 0.6rem;
        font-size: 1rem;
        
    }

    .time-container{
        gap: 1.2rem;
    }
}

@media (max-width:375px){
    .container h1{
        font-size: 1.9rem;
        letter-spacing: 0.1rem;
    }

    .time-container div{
        font-size: 2rem;
    }

    .time-container h2{
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .time-container{
        gap: 1.2rem;
    }
}

@media (max-width:320px){
    .container h1{
        font-size: 1.8rem;
        letter-spacing: normal;
    }

    .time-container div{
        font-size: 1.6rem;
    }

    .time-container h2{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .time-container{
        gap: 1rem;
    }
}